<div ng-controller="customerController">
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">License Management</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#/overview">Overview</a></li>
				<li class="active"><a href="#/customer">New License</a></li>
			</ul>
		</div>
	</nav>

	<form id="customerForm" class="form-horizontal">

		<div class="alert alert-success"  ng-show="showSuccessUpdate">
					<a href="#/customer" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Success!</strong> License Added / Updated Successfully
		</div>
		
		<div class="alert alert-danger"  ng-show="showSuccessError">
					<a href="#/customer" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Error!</strong> Permission: It cannot be assigned multiple times to License
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="customer">Customer:</label>
			<div class="col-sm-2">
				<input autocomplete="off" type="text" class="form-control" id="customer" ng-model="licenseObject.customerName"
					placeholder="Enter new customer" 
					uib-typeahead="customer as customer.name for customer in customers | filter:$viewValue | limitTo:8" class="form-control">
				</div>
			<div class="col-sm-2">
					<select class="form-control" ng-model="licenseObject.customerName" ng-options="customer as customer.name for customer in customers">
					<option style="display:none" value="">select customer</option>
					</select>
 	
			</div>
		</div>
		
		
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="env">Environment:</label>
			<div class="col-sm-2">
				<!-- <input type="text" class="form-control" id="env" ng-model="licenseObject.environmentName"
					placeholder="Enter environment">-->		
 				<input autocomplete="off" type="text" placeholder="Enter new environment" ng-model="licenseObject.environmentName" 
 				uib-typeahead="environment as environment.name for environment in environments | filter:$viewValue | limitTo:8" class="form-control">
 			</div>
			<div class="col-sm-2">	
 				<select class="form-control" ng-model="licenseObject.environmentName" ng-options="environment as environment.name for environment in environments" >
 				    <option style="display:none" value="">select environment</option>
 				</select>
 	        </div>
		</div>
				
		<div class="form-group">
			<label class="control-label col-sm-2">Validity:</label> <!-- {{ licenseObject }} -->
			<div class="col-sm-2">
				<input type="text" class="form-control" id="validity" ng-model="licenseObject.validity"
					placeholder="Date DD.MM.YYYY format">
			<!-- <p class="input-group">
          		<input type="text" class="form-control" placeholder="Enter Validity" uib-datepicker-popup="dd.MM.yyyy" ng-model="licenseObject.validity" is-open="popup1.opened" close-text="Close" ng-required="true" />
          	<span class="input-group-btn">
           		<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p> -->
			</div>			
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="curr">Price:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="curr" ng-model="licenseObject.price"
					placeholder="EURO">
			</div>
			<div class="col-sm-2">
				<label ng-model="licenseObject.currency" ng-value="EUR">EUR</label>
			</div>
		</div>
		
		<span ng-init="listOfTempPermission = getPermissionList()">
		<span class="form-group" ng-repeat="tempPermission in listOfTempPermission">
		   <span ng-init="counter = getCount()">
		   <label class="control-label col-sm-2" ng-model="licenseObject.listOfPermission[counter].permissionObject.name">{{ tempPermission.name }}:</label>
		     <span ng-if="tempPermission.value == null || tempPermission.value == ''">
		     <span class="col-sm-2">		
		     	<input type="checkbox" ng-model="checked" ng-init="checked=true"/>
		     </span>
		     </span>
		     <span class="col-sm-2">
		       <label style="font-weight: normal;" ng-model="licenseObject.listOfPermission[counter].value">{{ tempPermission.value }}</label>
		     </span>
		  </span>
		</span>	
		</span>
		

		<div class="form-group">
		
		<div class="col-sm-2">	
			<select class="form-control" ng-model="permissionName">
				<option value="">select permission</option>
				<option ng-repeat="permission in listOfPermissionObject" ng-value="{{permission.name}}">{{permission.name}}</option>
			</select>
		</div>
 		<div class="col-sm-2">
 			<input autocomplete="off" type="text" placeholder="Enter new permission" ng-model="permissionName" 
 				uib-typeahead="permission as permission.name for permission in listOfPermissionObject | filter:$viewValue | limitTo:8" class="form-control">			
 		</div>
 		<div class="col-sm-2">
 			<input type="text" placeholder="Enter Value" ng-model="permissionValue" class="form-control">			
 		</div>
 			
		<button type="submit" ng-click="savePermission(permissionName,permissionValue)">Add Permission</button>
		
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" ng-click="go('/overview');">Cancel</button>
				<button type="submit" ng-click=save(licenseObject);>Save</button>
			</div>
		</div>


	</form>
</div>