<div ng-controller="overviewController">
	

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">License Management</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/overview">Overview</a></li>
				<li><a href="#/customer">New License</a></li>
			</ul>
		</div>
	</nav>

	<form id="mainForm">
	 			<div class="alert alert-success"  ng-show="showSuccessAlert">
					<a href="#/overview" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Success!</strong> License Record is deleted.
				</div>

				<table class="table table-bordered"> 
					<thead>
						<tr>
							<th>Customer</th>
							<th>Environment</th>
							<th>Validity</th>
							<th>Price</th>
							<th ng-repeat="permission in listOfPermissionObject">
							 {{ permission.name }}
							</th>
							<th>Delete</th>
							<th>Edit</th>
							</tr>
					</thead>
					<tbody>
						<tr ng-repeat="licenseObject in listOflicense">
							<td>{{ licenseObject.customerName }}</td>
							<td>{{ licenseObject.environmentName }}</td>
							<td>{{ licenseObject.validity }}</td>
							<td>{{ licenseObject.price | number:2 }} {{ licenseObject.currency }}</td>
							
							
							<td ng-repeat="permission in listOfPermissionObject">
								<span ng-init="permissionValue = fetchValue(permission.permissionId,licenseObject.licenseId)">
								<span ng-if="null == permissionValue">
 										<input type="checkbox" ng-model="checked" ng-init="checked=true" />
								</span>					
								{{ permissionValue }}</span>
							</td>
							
							
							
							<td> <button data-toggle="modal" data-target="#myModal" ng-click="setLicenseId(licenseObject.licenseId)" class="btn btn-primary">Delete</button></td>
							<td> <a href="#/license/{{ licenseObject }}" class="btn btn-primary">Edit</a>
							</tr>
					</tbody>
				</table>
						
				  
				  <div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				    
				   
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Delete Confirmation</h4>
				        </div>
				        <div class="modal-body">
				          <p>Are you sure you want to delete license ?</p>
				        </div>
				         <div align="center">
				          <button type="button" class="btn btn-default" ng-click="deleteLicenseId()" data-dismiss="modal">OK</button>
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				         </div>
				      </div>
				      
				    </div>
				  </div>
				  

			</form>
		</div> 